element.style {
  display: block;
}
dining-hot-spotsmedia="all"
@media (min-width: 640px)
.field-item-module .welcome header.header .welcome-image.is-loaded a:hover img, .field-item-module .welcome header.header .welcome-image.is-loaded span:hover img {
  opacity: 0.7;
  -moz-transform: scale(1.08,1.08);
  -ms-transform: scale(1.08,1.08);
  -webkit-transform: scale(1.08,1.08);
  transform: scale(1.08,1.08);
}
dining-hot-spotsmedia="all"
@media (min-width: 640px)
.field-item-module .welcome header.header .welcome-image.is-loaded a img, .field-item-module .welcome header.header .welcome-image.is-loaded span img {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
dining-hot-spotsmedia="all"
.field.welcome-image .field-item img.welcome-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
dining-hot-spotsmedia="all"
.welcome .header img {
  display: block;
}
dining-hot-spotsmedia="all"
img {
  border: 0;
  max-width: 100%;
  height: auto;
}
img[Attributes Style] {
  width: 1280px;
  height: 640px;
}
Inherited from 
dining-hot-spotsmedia="all"
html, html a, html button {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
user agent stylesheeta:-webkit-any-link {
  color: -webkit-link;
  text-decoration: underline;
  cursor: auto;
}
Inherited from 
dining-hot-spotsmedia="all"
html, html a, html button {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
dining-hot-spotsmedia="all"
html {
  font-family: Verdana,Tahoma,"DejaVu Sans",sans-serif;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.25em;
}